#page_header_cont .back {
    background-color: #181B1F;
    border-bottom-color: #181B1F;
}


/* search field in the header */
input.text.ts_input {
    background-color: #282B2F;
    background-position-y: 50%;
    color: #829fc8;
}

input.text.ts_input:focus {
    background-color: #282B2F;
    color: #829fc8;
}

.ts_wrap .input_back_content {
    color: #829fc8;
}


/* audio player button in the header */
.top_audio_player .top_audio_player_title, .top_profile_link .top_profile_name {
    color: #829fc8;
}

.top_audio_player:hover, .top_nav_link:hover, .top_nav_btn:hover, .top_nav_btn.active, .top_audio_play__button:hover, .top_audio_play__button:hover::before, .top_nav_link.active {
    background-color: #282B2F;
}

.top_audio_play__button::before, .top_audio_play__button {
    background-color: #1e3c5f;
}


/* notifications count */
.top_nav_btn:hover .top_notify_count {
    border-color: #1e3c5f;
}


/* background when something overlays */
.stories_layers_background, #layer_bg, .mv_layer_bg, .wk_dark, #box_layer_bg, #box_layer_wrap, #layer_bg.wk_dark {
    background: rgba(0, 0, 0, .7);
}

.stories_preview::after {
    background-color: #222;
}

#pv_box, #mv_box .video_box_wrap {
    background-color: #000;
}


/* restore default polls background shading */
.media_voting_photo::after {
    background-color: rgba(0, 0, 0, .4);
}


/* text under a photo or a video */
.pv_cont .pv_bottom_actions > .pv_actions_more, .pv_cont .pv_bottom_actions > a, .pv_cont .pv_bottom_actions > span, .pv_counter, .pv_album_name a, .mv_playlist .mv_playlist_header .mv_playlist_header_title, .mv_playlist .mv_playlist_item_title, .mv_playlist .mv_playlist_item_views {
    color: #ccc;
}


/* playlist to the right of a video */
.mv_playlist, .mv_playlist .mv_playlist_item {
    background-color: #1e1e1e;
}

.mv_playlist .mv_playlist_item.mv_playlist_item_active {
    background-color: #2e2e2e;
}


/* inverted pictures for better visibility */
.ui_zoom_icon, .ui_zoom:hover .ui_zoom_icon {
    filter: invert(100%);
}

.im_stickers_close::after, .chat_tab_close::after, .chat_tab_close:hover::after, .notifier_close_wrap:before {
    filter: invert(100%);
}

.page_post_video_play_inline, .page_gif_play_icon, .video_module .video .page_video_play_icon {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    filter: invert(100%);
}

.video_thumb_play {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
}

.video_thumb_play:hover, .page_gif_play_icon:hover, .page_post_video_play_inline:hover {
    background-color: rgba(0, 0, 0, .6);
}

.video_thumb_actions .icon, .video_item:hover .video_thumb_play:not(:hover) {
    filter: invert(100%);
}

.video_item:hover .video_thumb_actions {
    filter: none;
}

.like_tt_share {
    color: #fff;
    filter: invert(100%);
}

.page_gif_share_icon, .page_gif_add_icon,
.profile_gift_icon,
.mention_tt_subscr_icon, .wk_subscribe_icon,
.settings_narrow_row input[type="checkbox"]:not(:checked) + label::before,
.fc_tab_head a .chats_sp, .fc_tab_head a:hover {
    filter: invert(100%);
}

.mention_tt_subscr.secondary .mention_tt_subscr_icon,
.wk_subscribe_btn.secondary .wk_subscribe_icon {
    filter: none;
}

.box_x_button, .feed_blog_reminder_large_close {
    filter: invert(100%) opacity(75%);
}

.box_x_button:hover, .feed_blog_reminder_large_close:hover {
    filter: invert(100%);
}

.summary_tab_sel .summary_tab_x {
    filter: invert(100%) opacity(45%);
}

.summary_tab_sel .summary_tab_x:hover {
    filter: invert(100%);
}

.video_thumb_label._has_play_icon::before {
    filter: invert(100%);
}


/* “no avatar photo” image made dark */
img[src^="/images/camera_"][src$=".png?ava=1"],
img[src^="/images/deactivated_"][src$=".png?ava=1"],
img[src^="/images/dquestion_"][src$=".png"] {
    filter: invert(100%) hue-rotate(180deg);
}

.chat_tab_close {
    z-index: 1;
}


/* restore default style for videoplayer, the dark one */
.videoplayer {
    background: #000;
    color: #ccc;
}

.videoplayer_end_screen {
    background: rgba(0, 0, 0, .75);
}

.videoplayer_context_menu {
    background: rgba(0, 0, 0, .9);
}

.videoplayer_context_menu ._item:hover {
    background: rgba(66, 66, 66, .5);
    color: #fff;
}

.videoplayer_end_actions ._add,
.videoplayer_end_actions ._go,
.videoplayer_end_actions ._like,
.videoplayer_end_actions ._replay,
.videoplayer_end_actions ._share {
    background: rgba(0, 0, 0, .4);
}

.videoplayer_end_actions._large ._like,
.videoplayer_end_actions._large ._share {
    color: #fff;
}

.videoplayer_end_info_title,
.videoplayer_end_info_author_link {
    color: #fff;
}


/* new replies highlighting fix */
.wall_module .reply[style]:not([style=""]),
div.reply_text > div[id][style]:not([style=""]):not([style="display: block;"]):not(.page_post_sized_thumbs) {
    background-color: #201414 !important;
    transition: background-color 0.25s ease;
}


/* restore default colors for overlays in the right bottom corner of profile pictures */
/*
.feedback_publish_row .feedback_photo_icon {
    background-color: #ffa000;
}

.feedback_like_row .feedback_photo_icon {
    background-color: #e64646;
}

.feedback_birthday_gift_row .feedback_photo_icon {
    background-color: #e64646;
}

.feedback_comment_unify_row .feedback_photo_icon {
    background-color: #4bb34b;
}

.feedback_live_row .feedback_photo_icon {
    background-color: #e64646;
}

.online::after, .chat_tab_imgcont.online::after, .fc_clist_online::before, .layers_shown .chat_tab_imgcont.online::after {
    background-color: #8ac176;
}

.top_notify_count {
    border-color: #181B1F;
    color: #fff;
    background-color: #ff734c;
}

.like_btn.like.active .like_button_count {
    color: #cc2939;
}

.chat_tab_counter {
    background-color: #e63917;
}

.settings_separated_row_iconed.icon_type_birthday::before, .settings_separated_row_iconed.icon_type_event::before, .settings_separated_row_iconed.icon_type_interesting::before, .settings_separated_row_iconed.icon_type_like::before, .settings_separated_row_iconed.icon_type_live::before, .settings_separated_row_iconed.icon_type_podcast::before {
    background-color: #e64646;
}

.settings_separated_row_iconed.icon_type_comment::before, .settings_separated_row_iconed.icon_type_invite_app::before, .settings_separated_row_iconed.icon_type_message::before, .settings_separated_row_iconed.icon_type_photo_tag::before, .settings_separated_row_iconed.icon_type_repost::before, .settings_separated_row_iconed.icon_type_voting::before {
    background-color: #4bb34b;
}

.settings_separated_row_iconed.icon_type_content_achievements::before, .settings_separated_row_iconed.icon_type_discussions::before, .settings_separated_row_iconed.icon_type_follow::before, .settings_separated_row_iconed.icon_type_friend_found::before, .settings_separated_row_iconed.icon_type_invite_group::before, .settings_separated_row_iconed.icon_type_mention::before, .settings_separated_row_iconed.icon_type_related_events::before, .settings_separated_row_iconed.icon_type_wall::before {
    background-color: #5c9ce6;
}

.settings_separated_row_iconed.icon_type_bookmarks::before, .settings_separated_row_iconed.icon_type_gift::before, .settings_separated_row_iconed.icon_type_new_post::before {
    background-color: #ffa000;
}
*/


/* change stories label color for better visibility */
.story_feed_new_item.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_name {
    color: #61798e;
    text-shadow: 0 1px 6px rgba(0, 0, 0, .4);
}

.story_feed_new_item.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_ava::after {
    border-color: #61798e;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
}


/* restore default album thumbnail style, with dark shadow */
.page_album_title, .photos_container_albums .photos_album_title_wrap {
    color: #fff;
}


/* set the background of an image attached as a doc transparent */
.page_doc_photo {
    background-color: transparent;
}


/* inverted loading indicator for embedded video */
.page_post_video_play_inline .pr_bt {
    filter: invert(100%);
}


/* tags input in Documents section */
input.focused {
    color: #fff !important;
}


/* emoji block overflow images */
.emoji_sprite {
    filter: invert(100%);
}


/* change the recent chats container height, for convenience */
.chat_fix_height {
    height: unset !important;
    max-height: 50vh;
    overflow-y: scroll;
}


/* message selection tick */
.im-mess .im-mess--check {
    filter: invert(100%) hue-rotate(180deg);
}
