#page_header_cont .back {
    background-color: #181B1F;
    border-bottom-color: #181B1F;
}


/* search field in the header */
input.text.ts_input {
    background-color: #282B2F;
    background-position-y: 50%;
    color: #829fc8;
}

input.text.ts_input:focus {
    background-color: #282B2F;
    color: #829fc8;
}

.ts_wrap .input_back_content {
    color: #829fc8;
}


/* audio player button in the header */
.top_audio_player .top_audio_player_title, .top_profile_link .top_profile_name {
    color: #829fc8;
}

.top_audio_player:hover, .top_nav_link:hover, .top_nav_btn:hover, .top_nav_btn.active, .top_audio_play__button:hover, .top_audio_play__button:hover::before, .top_nav_link.active {
    background-color: #282B2F;
}

.top_audio_play__button::before, .top_audio_play__button {
    background-color: #1e3c5f;
}


/* pick a song from a playlist button */
.audio_pl_edit_box .ape_add_audios_btn::after, .audio_pl_edit_box .ape_add_pl_audios_btn::after {
	background-repeat: no-repeat;
	background-position: 50%;
}


/* notifications count */
.top_nav_btn:hover .top_notify_count {
    border-color: #1e3c5f;
}


/* background when something overlays */
.stories_layers_background, #layer_bg, .mv_layer_bg, .wk_dark, #box_layer_bg, #box_layer_wrap, #layer_bg.wk_dark {
    background: rgba(0, 0, 0, .7);
}

.stories_preview::after {
    background-color: #222;
}

#pv_box, #mv_box .video_box_wrap {
    background-color: #000;
}


/* restore default polls background shading */
.media_voting_photo::after {
    background-color: rgba(0, 0, 0, .4);
}


/* text under a photo or a video */
.pv_cont .pv_bottom_actions > .pv_actions_more,
.pv_cont .pv_bottom_actions > a,
.pv_cont .pv_bottom_actions > span,
.pv_counter, .pv_album_name a,
.mv_playlist .mv_playlist_header .mv_playlist_header_title,
.mv_playlist .mv_playlist_item_title,
.mv_playlist .mv_playlist_item_views {
    color: #ccc;
}


/* playlist to the right of a video */
.mv_playlist, .mv_playlist .mv_playlist_item {
    background-color: #1e1e1e;
}

.mv_playlist .mv_playlist_item.mv_playlist_item_active {
    background-color: #2e2e2e;
}


/* inverted pictures for better visibility */
.ui_zoom_icon, .ui_zoom:hover .ui_zoom_icon {
    filter: invert(100%);
}

.im_stickers_close::after, .chat_tab_close::after, .chat_tab_close:hover::after {
    filter: invert(100%);
}

.page_post_video_play_inline,
.page_gif_play_icon, .page_gif_progress_icon,
.video_module .video .page_video_play_icon {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    filter: invert(100%);
}

.page_gif_play_icon:hover, .page_gif_progress_icon:hover {
    background-color: #00000099;
}

.page_post_video_play_inline .pr_bt, .page_gif_progress_icon .pr_bt {
    background: #fff;
}

.video_thumb_play {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
}

.video_thumb_play:hover, .page_gif_play_icon:hover, .page_post_video_play_inline:hover {
    background-color: rgba(0, 0, 0, .6);
}

.video_thumb_actions .icon, .video_item:hover .video_thumb_play:not(:hover) {
    filter: invert(100%);
}

.video_item:hover .video_thumb_actions {
    filter: none;
}

.like_tt_share::before {
    filter: invert(100%) opacity(90%);
}

.like_tt_share:hover::before {
    filter: invert(100%);
}

.page_gif_share_icon, .page_gif_add_icon,
.profile_gift_icon,
.mention_tt_subscr_icon, .wk_subscribe_icon,
.settings_narrow_row input[type="checkbox"]:not(:checked) + label::before,
.fc_tab_head a .chats_sp, .fc_tab_head a:hover,
.mv_subscribe_block #mv_subscribe_btn::before {
    filter: invert(100%);
}

.mention_tt_subscr.secondary .mention_tt_subscr_icon,
.wk_subscribe_btn.secondary .wk_subscribe_icon {
    filter: none;
}

.box_x_button, .feed_blog_reminder_large_close {
    filter: invert(100%) hue-rotate(180deg) opacity(75%);
}

.box_x_button:hover, .feed_blog_reminder_large_close:hover {
    filter: invert(100%) hue-rotate(180deg);
}

.summary_tab_sel .summary_tab_x {
    filter: invert(100%) hue-rotate(180deg) opacity(45%);
}

.summary_tab_sel .summary_tab_x:hover {
    filter: invert(100%) hue-rotate(180deg);
}

.page_pics_preview .page_media_x_wrap .page_media_x {
    filter: invert(100%) hue-rotate(180deg) opacity(85%);
}

.page_pics_preview .page_media_x_wrap:hover .page_media_x {
    filter: invert(100%) hue-rotate(180deg);
}

.wall_post_source_icon, .mob_onl, .page_fronly {
    filter: invert(100%) hue-rotate(180deg);
}

.chat_onl::after {
    filter: invert(100%) hue-rotate(180deg);
}


/* “no avatar photo” image made dark */
img[src^="https://vk.com/images/camera_"][src$=".png?ava=1"],
img[src^="https://vk.com/images/deactivated_"][src$=".png?ava=1"],
img[src^="https://vk.com/images/dquestion_"][src$=".png"],
img[src^="/images/camera_"][src$=".png?ava=1"],
img[src^="/images/deactivated_"][src$=".png?ava=1"],
img[src^="/images/dquestion_"][src$=".png"],
a[style^="background-image: url('/images/camera_"][style$=".png?ava=1')"],
a[style^="background-image: url('/images/camera_"][style$=".png?ava=1');"],
div[style^="background-image: url('/images/camera_"][style$=".png?ava=1')"],
div[style^="background-image: url('/images/camera_"][style$=".png?ava=1');"],
div[style^="background-image: url('/images/deactivated_"][style$=".png?ava=1')"]
div[style^="background-image: url('/images/deactivated_"][style$=".png?ava=1');"] {
    filter: invert(100%) hue-rotate(180deg);
}

.chat_tab_close {
    z-index: 1;
}


/* “no dialog photo” image made dark */
img[src="https://vk.com/images/icons/im_multichat_50.png"] {
    filter: invert(100%) hue-rotate(180deg);
}


/* “contact” image made dark */
img[src="/images/contact.png"] {
    filter: invert(100%) hue-rotate(180deg);
}


/* “link” image made dark */
div[style="background-image:url(/images/lnkouter.png)"] {
    filter: invert(100%) hue-rotate(180deg);
}


/* “no posts” image made dark */
.no_posts_cover {
    filter: invert(100%) hue-rotate(180deg);
}


/* “no comments” and “closed comments” images made dark */
.pv_cont .pv_closed_commments_placeholder, .pv_cont .pv_no_commments_placeholder {
    filter: invert(100%) hue-rotate(180deg);
}


/* add user image made dark */
.index_new_user_row .index_user_ph:empty {
    filter: invert(100%) hue-rotate(180deg);
}


/* restore default style for videoplayer, the dark one */
.videoplayer {
    background: #000;
    color: #ccc;
}

.videoplayer_end_screen {
    background: rgba(0, 0, 0, .75);
}

.videoplayer_end_info_title,
.videoplayer_end_info_author_link {
    color: #fff;
}

.videoplayer_slider ._loaded {
	background: hsla(0, 0%, 100%, .4);
}

.videoplayer_slider ._filled {
	background: #fff;
}

.videoplayer_slider ._handle {
	background: #fff;
}

.videoplayer_settings_icon {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cpath%20id%3D%22a%22%20d%3D%22M9.127%205.052c1.256-.72%201.473-1.469%201.623-2.219.167-.833.417-.833.833-.833h.834c.416%200%20.583%200%20.833.833.225.751.383%201.502%201.631%202.223%201.397.379%202.08.002%202.717-.422.707-.471.884-.294%201.178%200l.59.59c.294.294.412.412%200%201.178-.372.69-.791%201.333-.418%202.725.72%201.256%201.469%201.473%202.219%201.623.833.167.833.417.833.833v.834c0%20.416%200%20.583-.833.833-.751.225-1.502.383-2.223%201.631-.379%201.397-.002%202.08.422%202.717.471.707.294.884%200%201.178l-.59.59c-.294.294-.412.412-1.178%200-.69-.372-1.333-.791-2.725-.418-1.256.72-1.473%201.469-1.623%202.219-.167.833-.417.833-.833.833h-.834c-.416%200-.583%200-.833-.833-.225-.751-.383-1.502-1.631-2.223-1.397-.379-2.08-.002-2.717.422-.707.471-.884.294-1.178%200l-.59-.59c-.294-.294-.412-.412%200-1.178.372-.69.791-1.333.418-2.725-.72-1.256-1.469-1.473-2.219-1.623C2%2013.083%202%2012.833%202%2012.417v-.834c0-.416%200-.583.833-.833.751-.225%201.502-.383%202.223-1.631.379-1.397.002-2.08-.422-2.717-.471-.707-.294-.884%200-1.178l.59-.59c.294-.294.412-.412%201.178%200%20.69.372%201.333.791%202.725.418zM12%2016.75a4.75%204.75%200%201%200%200-9.5%204.75%204.75%200%200%200%200%209.5z%22%2F%3E%0A%20%20%3C%2Fdefs%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20opacity%3D%22.4%22%2F%3E%0A%20%20%20%20%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	width: 24px;
	height: 24px;
}

.videoplayer_btn_settings_hd .videoplayer_settings_icon {
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20opacity%3D%22.4%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M14.142%204.52a7.453%207.453%200%200%200-1.058%202.854%204.75%204.75%200%201%200%202.943%207.146%207.467%207.467%200%200%200%202.764%201.284c-.035.812.256%201.317.575%201.794.471.707.294.884%200%201.178l-.59.59c-.294.294-.412.412-1.178%200-.69-.372-1.333-.791-2.725-.418-1.256.72-1.473%201.469-1.623%202.219-.167.833-.417.833-.833.833h-.834c-.416%200-.583%200-.833-.833-.225-.751-.383-1.502-1.631-2.223-1.397-.379-2.08-.002-2.717.422-.707.471-.884.294-1.178%200l-.59-.59c-.294-.294-.412-.412%200-1.178.372-.69.791-1.333.418-2.725-.72-1.256-1.469-1.473-2.219-1.623C2%2013.083%202%2012.833%202%2012.417v-.834c0-.416%200-.583.833-.833.751-.225%201.502-.383%202.223-1.631.379-1.397.002-2.08-.422-2.717-.471-.707-.294-.884%200-1.178l.59-.59c.294-.294.412-.412%201.178%200%20.69.372%201.333.791%202.725.418%201.256-.72%201.473-1.469%201.623-2.219.167-.833.417-.833.833-.833h.834c.416%200%20.583%200%20.833.833.17.567.301%201.133.892%201.687z%22%20fill%3D%22%23fff%22%2F%3E%0A%20%20%20%20%3Cg%20transform%3D%22translate(15%203)%22%3E%0A%20%20%20%20%20%20%3Crect%20fill%3D%22%235a9eff%22%20height%3D%2211%22%20rx%3D%225.5%22%20width%3D%2217%22%2F%3E%0A%20%20%20%20%20%20%3Cpath%20d%3D%22M10%208H9V3h3v1h-2v3h2v1zM5%205h2V3h1v5H7V6H5v2H4V3h1zm7-1h1v3h-1z%22%20fill%3D%22%23fff%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	margin-right: -8px;
	width: 32px;
}


/* restore default colors for overlays in the right bottom corner of profile pictures */
/*
.feedback_publish_row .feedback_photo_icon {
    background-color: #ffa000;
}

.feedback_like_row .feedback_photo_icon {
    background-color: #e64646;
}

.feedback_birthday_gift_row .feedback_photo_icon {
    background-color: #e64646;
}

.feedback_comment_unify_row .feedback_photo_icon {
    background-color: #4bb34b;
}

.feedback_live_row .feedback_photo_icon {
    background-color: #e64646;
}

.online::after, .chat_tab_imgcont.online::after, .fc_clist_online::before, .layers_shown .chat_tab_imgcont.online::after {
    background-color: #8ac176;
}

.top_notify_count {
    border-color: #181B1F;
    color: #fff;
    background-color: #ff734c;
}

.like_btn.like.active .like_button_count {
    color: #cc2939;
}

.chat_tab_counter {
    background-color: #e63917;
}

.settings_separated_row_iconed.icon_type_birthday::before, .settings_separated_row_iconed.icon_type_event::before, .settings_separated_row_iconed.icon_type_interesting::before, .settings_separated_row_iconed.icon_type_like::before, .settings_separated_row_iconed.icon_type_live::before, .settings_separated_row_iconed.icon_type_podcast::before {
    background-color: #e64646;
}

.settings_separated_row_iconed.icon_type_comment::before, .settings_separated_row_iconed.icon_type_invite_app::before, .settings_separated_row_iconed.icon_type_message::before, .settings_separated_row_iconed.icon_type_photo_tag::before, .settings_separated_row_iconed.icon_type_repost::before, .settings_separated_row_iconed.icon_type_voting::before {
    background-color: #4bb34b;
}

.settings_separated_row_iconed.icon_type_content_achievements::before, .settings_separated_row_iconed.icon_type_discussions::before, .settings_separated_row_iconed.icon_type_follow::before, .settings_separated_row_iconed.icon_type_friend_found::before, .settings_separated_row_iconed.icon_type_invite_group::before, .settings_separated_row_iconed.icon_type_mention::before, .settings_separated_row_iconed.icon_type_related_events::before, .settings_separated_row_iconed.icon_type_wall::before {
    background-color: #5c9ce6;
}

.settings_separated_row_iconed.icon_type_bookmarks::before, .settings_separated_row_iconed.icon_type_gift::before, .settings_separated_row_iconed.icon_type_new_post::before {
    background-color: #ffa000;
}
*/


/* change stories label color for better visibility */
.story_feed_new_item.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_name {
    color: #61798e;
    text-shadow: 0 1px 6px rgba(0, 0, 0, .4);
}

.story_feed_new_item.stories_feed_preview_item .stories_feed_preview_author .stories_feed_preview_author_ava::after {
    border-color: #61798e;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);
}


/* restore default album thumbnail style, with dark shadow */
.page_album_title, .photos_container_albums .photos_album_title_wrap {
    color: #fff;
}


/* set the background of an image attached as a doc transparent */
.page_doc_photo {
    background-color: transparent;
}


/* add a shadow for a graffiti to make the dark parts visible */
.page_media_graffiti_doc > img {
    filter: drop-shadow(0 0 0.75rem whitesmoke);
}


/* tags input in Documents section */
input.focused {
    color: #fff !important;
}


/* emoji generic pictures */
.emoji_sprite {
    filter: invert(100%) hue-rotate(180deg);
}


/* emoji panel overflow shadows */
.ui_scroll_default_theme.ui_scroll_emoji_theme > .ui_scroll_overflow > .ui_scroll_shadow_bottom,
.ui_scroll_default_theme.ui_scroll_emoji_theme > .ui_scroll_overflow > .ui_scroll_shadow_top {
	filter: invert(100%) hue-rotate(180deg);
}


/* change the recent chats container height, for convenience */
.chat_fix_height {
    height: unset !important;
    max-height: 50vh;
    overflow-y: scroll;
}


/* message selection tick */
.im-mess .im-mess--check {
    filter: invert(100%) hue-rotate(180deg);
}


/* docs viewer inline style */
.docs_info {
    color: #66696c;
}

.docs_panel {
    background: #0e0e0e;
    -webkit-box-shadow: 0px 2px 10px #ffffff26;
    -moz-box-shadow: 0px 2px 10px #ffffff26;
    box-shadow: 0px 2px 10px #ffffff26;
}


/* hardcoded fill colors in svg */
/*[fill="#FFF"], [fill="#fff"] {
    fill: #000 !important;
}
*/


/* icons at oauth.vk.com */
.apps_access_messages {
    background-position:0 0
}
.apps_access_profile {
    background-position:0 -40px
}
.apps_access_friends {
    background-position:0 -80px
}
.apps_access_photos {
    background-position:0 -120px
}
.apps_access_audio {
    background-position:0 -160px
}
.apps_access_video {
    background-position:0 -200px
}
.apps_access_ads, .apps_access_adsweb {
    background-position:0 -240px
}
.apps_access_offline {
    background-position:0 -280px
}
.apps_access_docs, .apps_access_wall {
    background-position:0 -320px
}
.apps_access_groups {
    background-position:0 -360px
}
.apps_access_stats {
    background-position:0 -400px
}
.apps_access_email, .apps_deny_email {
    background-position:0 -440px
}
.apps_access_market {
    background-position:0 -480px
}
.apps_access_notifications {
    background-position:0 -520px
}
.apps_access_phone, .apps_deny_phone {
    background-position:0 -560px
}
.apps_access_stories {
    background-position:0 -640px
}


/* attach icon fix */
.deep_active .replies .reply_box_more_attaches::before,
.deep_active.wall_module .replies .reply_box_more_attaches::before,
.deep_active.wall_module .wl_replies_block_wrap .reply_box_more_attaches::before,
.deep_active .wl_replies_block_wrap .reply_box_more_attaches::before {
	background-size: 18px;
}


/* apps actions */
.apps_edit_actions .icon {
	filter: invert(100%) hue-rotate(180deg);
}


/* post edited fix */
div[style="background-color: rgb(255, 255, 255);"] {
    background-color: #221f1b !important;
    box-shadow: 0 0 0.5em 0.5em #221f1b;
    transition: background-color 1s ease, box-shadow 1s ease;
}


/* new replies highlighting fix */
.wall_module .reply[style]:not([style=""]),
div.reply_text > div[id][style]:not([style=""]):not([style="display: block;"]):not(.page_post_sized_thumbs) {
    background-color: #221f1b !important;
    box-shadow: 0 0 0.5em 0.5em #221f1b;
    transition: background-color 1s ease, box-shadow 1s ease;
}

.wall_module .reply,
div.reply_text > div[id][style] {
    transition: background-color 1s ease, box-shadow 1s ease;
}


/* just-edited post highlighting fix */
.wall_post_cont[style^="background-color"] {
    background-color: #221f1b !important;
    box-shadow: 0 0 0.5em 0.5em #221f1b;
    transition: background-color 1s ease, box-shadow 1s ease;
}

.wall_post_cont {
    transition: background-color 1s ease, box-shadow 1s ease;
}


/* “share to” field color fix */
.like_share_radio .wdd_text {
	background-color: black;
	color: white;
}


/* [class="selector_input selected"] fix */
[style^="color: rgb(34, 34, 34);"] {
    color: #dddddd !important;
}